body {
	color: #4e202e;
	background: url('../img/butterfly.png') top right no-repeat hsl(345, 40%, 57%);
	background-size: 20%;
	background-attachment: fixed;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(116, 56, 156);
}

a:visited {
	color:  rgb(116, 56, 156);
}

input, button, select, textarea {
	border: 1px solid #4e202e;
}

input:disabled {
	color: #ccc;
}

body button {
	color: rgb(65, 65, 65);
	background-color: #cf6c82;
	border: 1px solid #4e202e;
}


button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: rgb(107, 89, 89);
}

section {
	box-shadow: 2px 2px 4px #4e202e;
	border: 5px dotted #4e202e;
}

section.claimed {
	background-color: #cf6c82;
}
