
body {
	color: #745512;
	background: url('../img/sun.png') center right no-repeat rgb(248, 248, 235);
}

a {
	color: rgb(0,100,200);
}

a:visited {
	color: rgb(0,80,160);
}

input, button, select, textarea {
	border: 3px solid rgb(247, 227, 49);
}

input:disabled {
	color: #ccc;
}

button {
	color: rgb(65, 65, 65);
	background-color: rgb(255, 253, 228);
}


button:focus {
	border-color: rgb(107, 89, 89);
}

section {
	box-shadow: 2px 2px 4px #dedede;
	border: 1px solid #888;
}

section.claimed {
	background-color: rgb(252, 188, 52);
	opacity: 0.4;
}
